@import "variables";

// USAR IF PARA MEDIA QUERIES SASS

body {
  height: 100vh;
  background-color: $Light-gray;
}

main {
  column-gap: 30px;
  row-gap: 30px;

  #first-container {
    row-gap: 30px;
    column-gap: 30px;
  }
  #second-container {
  }
}


// Container1
#container1 {
  background: url(../images/bg-pattern-quotation.svg)
  no-repeat $Moderate-violet;
  background-position: 80% 0;
}
#container2 {
  background: $Very-dark-grayish-blue;
}
#container3, #second-container {
  background-color: white;
}
#container4 {
  background-color: $Very-dark-blackish-blue;
}

.testimonials {
  padding: 10px 31px 35px;

  .review-top {
    padding-bottom: 5px;
  }
}

// PROFILE INFO
.profile-info {
  height: 4rem;

  .picture {
    border: 4px solid rgba(255, 255, 255, 0.3);
    height: 90%;
  }
  
  #profile-name {
    height: 100%;
    color: white;
  
    .names {
      font-size: 1rem;
    }
    .verified {
      opacity: 50%;
      font-size: 0.9rem;
    }
  }
}

// REVIEWS
.review-top {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.review-bottom {
  font-size: 0.88rem;
  line-height: 1.2rem;
}